@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,700&display=swap");

/* ==================================
======== typography reset
================================== */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: "Source Sans Pro", sans-serif;
}

h1,
.h1 {
    font-size: 2.25rem;
}

h2,
.h2 {
    font-size: 1.875rem;
}

h3,
.h3 {
    font-size: 1.5rem;
}

h4,
.h4 {
    font-size: 1.125rem;
}

h5,
.h5 {
    font-size: 0.75rem;
}

/* ==================================
======== reset css
================================== */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

::-moz-selection {
    color: #ffffff;
    background: #6fc05b;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 16px;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
}

body {
    font-family: "Lato", sans-serif;
    background-color: #f4f4f4;
    overflow-x: hidden;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: unset;
}

button,
button:hover,
button:focus,
button:active {
    outline: none;
}

input:-webkit-autofill {
    -webkit-text-fill-color: unset;
    -webkit-transition: background-color 5000s;
    transition: background-color 5000s;
}

ul,
ol {
    list-style: none;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.object-fit--contain {
    -o-object-fit: contain;
    object-fit: contain;
}

.user-select-none {
    pointer-events: none;
}

.list-inline {
    font-size: 0;
}

.list-inline-item {
    font-size: 1rem;
}

/* ==================================
======== comon button style css
================================== */
.primary-btn {
    position: relative;
    display: inline-block;
    color: #1b1b1b;
    font-size: 1.25rem;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    padding: 0.625rem 2.1875rem;
    background-color: #ffffff;
    transition: color 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    isolation: isolate;
    box-shadow: 0 10px 60px rgba(0, 0, 0, 0.1);
}

.primary-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #4d4953;
    width: 100%;
    height: 100%;
    z-index: -1;
    -webkit-clip-path: polygon(0 0, 50px 0, 0 100%, 0 100%);
    clip-path: polygon(0 0, 50px 0, 0 100%, 0 100%);
    transition: -webkit-clip-path 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: clip-path 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: clip-path 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955),
        -webkit-clip-path 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.primary-btn:hover,
.primary-btn:focus {
    color: #ffffff;
}

.primary-btn:hover::before,
.primary-btn:focus::before {
    -webkit-clip-path: polygon(0 0, calc(100% + 50px) 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, calc(100% + 50px) 0, 100% 100%, 0 100%);
}

/* ==================================
======== common css starts from here
================================== */

:root {
    --primary-font: "Lato", sans-serif;
    --primary-color: #211c28;
    --secondary-color: #4d4953;
    --special-color: #f63333;
}

.centered-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-padding {
    padding: 100px;
}

.common-heading {
    font-size: 40px;
    font-weight: 700;
    color: var(--primary-color);
    text-transform: capitalize;
}

.common-paragraph {
    font-size: 16px;
    font-weight: 400;
    color: var(--secondary-color);
}

.primary_btn {
    background: red;
    color: white;
    padding: 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: all linear 0.4s;
}

.primary_btn:hover {
    background: none;
    color: black;
    border: 1px solid black;
}

.secondary_btn {
    color: black;
    padding: 10px 20px;
    border: 1px solid black;
    transition: all linear 0.4s;
}

.secondary_btn:hover {
    background: red;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0);
}

.navbar .logo {
    width: 200px;
    display: block;
}

/* ==================================
======== banner css starts from here
================================== */

.video-container {
    position: relative;
    width: 100%;
    height: 1080px;
    padding-bottom: 46.25%;
    /* 16:9 aspect ratio for responsive video */
    overflow: hidden;
}

/* Style for the video iframe */
/* iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */

/* Style for the overlay banner */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 22%);
    /* Semi-transparent black overlay */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style for the overlay text */
.overlay-text {
    color: white;
    font-size: 24px;
    text-align: center;
}

.banner_video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.banner .overlay h2 {
    font-size: 48px;
    font-weight: 800;
}

.banner .overlay span {
    font-size: 25px;
    padding: 60px 0;
}

/* ==================================
======== Evolution css starts from here
================================== */

.evolution .main {
    margin-top: 60px;
    padding: 50px;
    background: #fff;
    box-shadow: 1px -1px 9px 3px rgba(194, 194, 194, 0.68);
    -webkit-box-shadow: 1px -1px 9px 3px rgba(194, 194, 194, 0.68);
    -moz-box-shadow: 1px -1px 9px 3px rgba(194, 194, 194, 0.68);
}

.evolution .main h6 {
    font-size: 14px;
    padding: 10px 20px;
    background: #fee6e6;
    color: red;
    display: inline;
    border-radius: 20px;
}

.evolution .main h2 {
    font-size: 32px;
}

.evolution .main h5 {
    font-size: 18px;
    color: #99979c;
}

.evolution .main .one span {
    font-size: 36px;
    color: red;
    font-weight: 800;
}

.evolution .main .one p {
    font-size: 16px;
    color: #99979c;
}

.evolution .main .video {
    padding-right: 3rem;
}
.evolution .main .evolution_video {
    height: 400px;
    width: 100%;
}

/* ==================================
======== service css starts from here
================================== */

.service .service_slider {
    position: relative;
}

.service .service_slider .hidden {
    display: none;
}

.service .service_slider .active {
    display: block;
}

.service .service_slider .topbar button.active-button {
    background-color: red;
    color: #fff;
    transition: all linear 0.4s;
}

.service .service_slider .topbar button {
    padding: 8px 25px;
    border-radius: 25px;
    border: 0;
    background-color: rgba(255, 0, 0, 0);
}

.service .service_slider .topbar {
    border: 0.01px solid rgba(0, 0, 0, 0.231);
    display: inline-block;
    border-radius: 25px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 0;
    box-shadow: 1px -1px 9px 3px rgba(194, 194, 194, 0.68);
    -webkit-box-shadow: 1px -1px 9px 3px rgba(194, 194, 194, 0.68);
    -moz-box-shadow: 1px -1px 9px 3px rgba(194, 194, 194, 0.68);
    transition: all linear 0.4s;
    padding: 3px 3px;
}

.service .service_slider .inner_part .buttons button {
    padding: 10px 15px;
    color: black;
    border: 0;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0);
}

.service .service_slider .inner_part {
    padding-top: 90px;
}

.service .service_slider .inner_part p {
    padding-right: 130px;
}

.service .service_slider .inner_part .buttons button.active-button {
    background-color: #ffffff;
    color: #000000;
    box-shadow: 1px -1px 9px 3px rgba(194, 194, 194, 0.68);
    -webkit-box-shadow: 1px -1px 9px 3px rgba(194, 194, 194, 0.68);
    -moz-box-shadow: 1px -1px 9px 3px rgba(194, 194, 194, 0.68);

    transition: all linear 0.4s;
}

.service .service_slider .inner_part .buttons span {
    height: 25px;
    width: 25px;
    background: rgb(231, 231, 231);
    display: inline-block;
    margin-right: 15px;
    border-radius: 50%;
    color: rgba(59, 58, 58, 0.501);
}

.service .service_slider .inner_part .buttons button.active-button span {
    background: rgb(255, 0, 0);
    color: white;
}

.service .card {
    position: absolute;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    width: 28%;
    bottom: -50px;
    right: 408px;
}

/* ==================================
======== clients css starts from here
================================== */

.clients .clients_p {
    font-size: 24px;
    font-weight: 300;
    color: var(--secondary-color);
}

.clients .clients_logo {
    background: white;
    padding: 40px 35px;
    width: 85%;
    box-shadow: 1px -1px 9px 3px rgba(194, 194, 194, 0.68);
    -webkit-box-shadow: 1px -1px 9px 3px rgba(194, 194, 194, 0.68);
    -moz-box-shadow: 1px -1px 9px 3px rgba(194, 194, 194, 0.68);
}

/* ======================================
======== satisfaction css starts from here
========================================= */

.satisfaction .main {
    margin-top: 60px;
}

.satisfaction .main .img {
    width: 45%;
}

.satisfaction .main .img img {
    width: 70%;
}

.satisfaction .main .content {
    width: 55%;
    text-align: left;
}

.satisfaction .main .content .flx span {
    font-size: 60px;
    font-weight: bold;
}

#slider-container {
    width: 1100px;
    /* Adjust the width as needed */
    overflow: hidden;
    margin: 0 auto;
}

#slider-content {
    display: flex;
    transition: transform 0.3s ease;
}

.slider-item {
    flex: 0 0 100%;
    width: 1100px;
    /* Adjust the width as needed */
    text-align: center;
    padding: 50px;
    background: #fff;
    /* box-shadow: 1px -1px 9px 3px rgba(194, 194, 194, 0.68);
    -webkit-box-shadow: 1px -1px 9px 3px rgba(194, 194, 194, 0.68);
    -moz-box-shadow: 1px -1px 9px 3px rgba(194, 194, 194, 0.68); */
    border-radius: 10px;
}

#prevBtn,
#nextBtn {
    cursor: pointer;
    background: white;
    padding: 5px 10px;
    border: navajowhite;
}

/* .dot-container {
    text-align: center;
    margin-top: 10px;
} */

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #d4d4d4;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.dot.active {
    background-color: #333;
}

/* ======================================
======== contact css starts from here
========================================= */

.contact .main {
    margin-top: 80px;
    background-color: white;
    padding: 30px;
}

.contact .main .left .top h3 {
    font-size: 29px;
    font-weight: bold;
}

.contact .main .content {
    background: #211c28;
    color: white;
}

.contact .main .content .bottom i {
    background: #000000;
    color: white;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

.contact .main .right .new {
    padding-top: 50px;
    padding-bottom: 20px;
}

.contact .main .right {
    margin-top: 50px;
}

.contact .main .right .form-control2 {
    border: none;
    background: none;
    border-bottom: 1px solid #c8c8c8;
    border-radius: inherit;
    padding: 0;
    width: 90%;
    padding-bottom: 9px;
}

.contact .main .right .form .contact_btn {
    color: rgb(249, 249, 249);
    padding: 10px 20px;
    background: #211c28;
    border: 0;
}

.contact .main .right .form .color-g {
    background-color: #f4f4f4;
}

/* ======================================
======== footer css starts from here
========================================= */

.footer {
    background: #120f16;
    color: white;
    padding-top: 100px;
    padding-bottom: 50px;
}

.footer .content {
    background: #211c28;
    padding: 20px;
    border-radius: 10px;
}

.footer .main {
    position: relative;
}

.footer .main::after {
    content: "";
    height: 0.5px;
    width: 100%;
    background-color: #e9e8ea;
    position: absolute;
    bottom: 100px;
    left: 0;
}

.footer .content h3 {
    font-size: 20px;
}

.footer .content .footer_frm {
    width: 150px;
    border-radius: 0;
}

.footer .content .footer_btn {
    color: rgb(16, 16, 16);
    padding: 10px 20px;
    background: #e9e8ea;
    border: 0;
    font-size: 12px;
}

.footer .content p {
    color: #e9e8ea;
    font-size: 12px;
}

.footer .main .copyright {
    padding-top: 100px;
}

/* =======================================================================================================================
==================================================================== portfolio page css starts from here
========================================================================================================================= */

/* ===========================================
======== portfolio section css starts from here
============================================= */

.portfolio .portfolio_slider .hidden {
    display: none;
}

.portfolio .portfolio_slider .active {
    display: block;
}

.portfolio .portfolio_slider .active-button {
    background-color: rgb(255, 0, 25);
    color: #fff;
}
.portfolio .portfolio_slider .portfolio_video iframe {
    height: 250px;
    width: 100%;
}

.portfolio .portfolio_slider .topbar button {
    padding: 8px 25px;
    border-radius: 25px;
    border: 0;
}

/* =======================================================================================================================
==================================================================== carrer page css starts from here
========================================================================================================================= */

/* ================================================
======== carrer_banner section css starts from here
================================================== */

.carrer_banner .carrer_heading {
    font-size: 40px;
    font-weight: 700;
    color: var(--primary-color);
    line-height: 48px;
    padding-bottom: 30px;
}

.carrer_banner h2 span {
    color: red;
}

/* =======================================================================================================================
==================================================================== learn page css starts from here
========================================================================================================================= */
.learn_banner .learn_banner_video iframe {
    height: 670px;
    width: 1191px;
}

.learn_roadmap .card h5 {
    font-size: 18px;
    font-family: var(--primary-font);
    color: black;
    font-weight: 600;
}

.learn_roadmap .card p {
    font-size: 14px;
    font-family: var(--primary-font);
    color: var(--secondary-color);
    font-weight: 400;
}

.learn_roadmap img {
    width: 100%;
    background-size: cover;
}
.testimonial iframe {
    height: 350px;
    width: 95%;
}

/* =======================================================================================================================
==================================================================== not sure page css starts from here
========================================================================================================================= */

.sure {
    background-image: url(../images/sure/sure.png);
    width: 100%;
    height: 100%;
}

.sure .sure_content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
}

.sure iframe {
    width: 90%;
    height: 420px;
}

.sure .sure_content h2 {
    font-size: 48px;
}

.sure .sure_content h3 {
    font-size: 22px;
    font-weight: 700;
}

.sure .sure_content h3 span {
    color: red;
}

.sure .sure_content button {
    padding: 10px 20px;
    border: none;
    background-color: white;
    margin-top: 50px;
}

.sure iframe {
    border: 5px solid rgb(224, 224, 224);
}

/* =======================================================================================================================
==================================================================== nav page css starts from here
========================================================================================================================= */

.nav-link {
    color: #000000;
}

/* /* =======================================================================================================================
==================================================================== nav page css starts from here
=== */

@media screen and (max-width: 576px) {
    .primary_btn {
        background: red;
        padding: 5px 10px;
        font-size: 14px;
    }
    .secondary_btn {
        padding: 5px 10px;
        font-size: 14px;
    }
    #slider-container {
        width: 100%;
    }
    .contact .checkbox {
        flex-direction: column;
    }
    .evolution .count {
        flex-wrap: wrap;
    }
    .evolution .count .one {
        width: 48%;
    }
    nav .left {
        width: 120px;
    }
    .navbar .logo {
        width: 120px;
    }
    nav .middle .navbar-nav {
        --bs-scroll-height: 247px;
        background: white;
        padding: 17px;
        position: absolute;
        z-index: 2;
        top: 72px;
    }
    .banner .overlay span {
        font-size: 13px;
        padding: 0;
    }
    .banner .overlay h2 {
        font-size: 15px;
    }
    .common-heading {
        font-size: 25px;
    }
    .common-paragraph {
        font-size: 14px;
    }
    .section-padding {
        padding: 20px;
    }
    .evolution .main {
        margin-top: 40px;
        padding: 30px;
    }
    .evolution .main .video {
        padding-right: 0px;
    }
    .evolution .main .evolution_video {
        height: auto;
        width: 100%;
        margin-bottom: 20px;
    }
    .evolution .main h6 {
        font-size: 10px;
        padding: 5px 10px;
    }
    .evolution .main h2 {
        font-size: 16px;
    }
    .service .service_slider .topbar button {
        padding: 5px 14px;
        font-size: 10px;
    }
    .service .service_slider .topbar {
        padding: 0px 0px;
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .service .service_slider .inner_part {
        padding-top: 40px;
    }
    .service .service_slider .inner_part h2 {
        font-size: 20px;
    }
    .service .service_slider .inner_part p {
        padding-right: 0px;
    }
    .service .service_slider .inner_part .buttons button.active-button {
        font-size: 10px;
    }
    .service .service_slider .inner_part .buttons button {
        padding: 6px 9px;
        font-size: 10px;
    }
    .service .service_slider .inner_part .buttons span {
        height: 20px;
        width: 20px;
        margin-right: 15px;
        line-height: 20px;
    }
    .clients .clients_logo {
        padding: 40px 35px;
        width: 100%;
        margin-bottom: 30px;
    }
    .clients .clients_p {
        font-size: 18px;
    }
    .slider-item {
        flex-direction: column;
    }
    .satisfaction .main .img {
        width: 25%;
    }
    .satisfaction .main .content {
        width: 24%;
    }
    .satisfaction .main .img img {
        width: 100%;
    }
    .contact .main .left .top h3 {
        font-size: 17px;
    }
    .footer .main ul li {
        font-size: 13px;
    }
    .satisfaction .flx {
        width: 315px;
    }
    .footer .content .footer_frm {
        width: 150px;
    }
    .portfolio .portfolio_slider .topbar button {
        padding: 2px 7px;
        font-size: 13px;
    }
    .portfolio .portfolio_slider .portfolio_video iframe {
        height: 190px;
        width: 100%;
    }
    .learn_banner .learn_banner_video iframe {
        height: 168px;
        width: 284px;
    }
    .testimonial iframe {
        height: 165px;
        width: 100%;
    }
    .sure .sure_content h2 {
        font-size: 40px;
    }
    .sure .sure_content button {
        padding: 7px 11px;
        margin-top: 8px;
        font-size: 13px;
    }
    .sure .sure_content {
        height: 250px;
    }
    .sure .sure_content .content {
        text-align: center;
    }
    .contact .middle ul li {
        font-size: 13px;
    }

    .sure iframe {
        width: 100%;
        height: 205px;
    }

    .contact .main {
        margin-top: 34px;
        padding: 20px;
    }
    .contact .main .content p {
        font-size: 13px;
    }
    .footer .main {
        padding: 40px;
    }
    .footer {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .footer .main::after {
        bottom: 147px;
    }
    .carrer_banner .carrer_heading {
        font-size: 26px;
        line-height: 33px;
        padding-bottom: 5px;
    }
    .primary-btn {
        font-size: 11px;
        padding: 10px 20px;
        margin-bottom: 20px;
    }
    /* .logo {
        width: 50px;
    } */
}

/* Styles for screens between 768px and 992px wide */
@media screen and (min-width: 769px) and (max-width: 992px) {
}

/* Styles for screens larger than 992px wide */
@media screen and (min-width: 993px) {
}
